<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat News</title>
    <link rel="stylesheet" href="css/style.css">

    
</head>
       
<body>

    <header>
        <input class="search" type="search" id="search" placeholder="Search for something...">
        <!--搜尋-->
        <input class="search_img" type="image" name="submit_Btn" id="submit_Btn" img src="image/search.png" onClick="" >

    </header>

    <!--up往上-->
    <a href="#top">
        <div class="start">
            <h3>up!</h3>
        </div>
    </a>

    <table border="2" class="table">
      <tr>
        <th>新聞</th>
      </tr>
      <tr>
        <td class="td">1</td>
      </tr>
      <tr>
        <td class="td">1</td>
      </tr>
      <tr>
        <td class="td">1</td>
      </tr>
      <tr>
        <td class="td">1</td>
      </tr>

    
    </table>
    

    

</body>
</html>