<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat News</title>
    <link rel="stylesheet" href="css/style.css">
    <!--自繪圖標-->
    <link rel1="icon" href="image/flower.png">
    
</head>
       
<body>

    <header>
        <input class="search" type="search" id="search" placeholder="Search for something...">
    </header>

    

</body>
</html>