* {
    margin: 0;
    padding: 0;
    font-family: 標楷體;
}

/*背景*/
body {
    background-color: #ede0d4;

}


header {
    height: 100px;
    width: 100%;
    background-color:#ddb892;
    color: white;
    text-align: center;
    font-size: 20pt;
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: flex;
    vertical-align: middle;
    font-size: 20pt;
    color: #EDEDED;
    justify-content: center; /* 水平方向置中 */
    align-items: center;    /* 垂直方向置中 */
}

.search{
    height: 50px;
    width: 250px;
    
}

/*搜尋*/
.search_img{
    width: 50px;
    height: 50px;
    padding: 0 0 0 0px;
    
}


/*up往上*/
.start {
    position: fixed;
    bottom: 20px;
    right: 30px;
    transition: 0.2s;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    animation: pulsate 6s linear infinite;
}

.start h3 {
    padding: 28px;
    color: #1c3b55;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.table{
    
    font-size: 15pt;
    margin: 50px auto;
    text-align: center;
    border-color: #7f5539;
    width: 1500px;
    table-layout: fixed;
}
.td{
    text-align: left;
    
}